* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #ba4545;
    --cinza-secundario: #d2cbcb;
    --botao-azul: #143257;
    --cor-de-fundo: #01040f;
    --fonte-principal: 'platypi'; 

}

body{
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-principal);
    color: var(--branco-principal)
    font-size: 16px;
    font-weight: 400;
}


.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px ;
    padding: 1em;
    color: var(--branco-principal)
    display : block; 
    text-decoration: none;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundario)
}